
<div id="category" class="category">
  <h3 class="widget-title"><%=page.category%></h3>
  <% page.posts.each(article => { %>
    <div class="category-item">
      <a href="<%=url_for(article.path)%>">
        <%=article.title%>
      </a>
      <time datetime="<%=date_xml(article.date)%>">
        <%=date(article.date, 'YYYY-MM-DD')%>
      </time>
    </div>
  <% }); %>
</div>

<div id="paginator">
  <%-paginator()%>
</div>
